/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.active {
  background-color: lightgray;
}

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.login-signup {
  position: fixed;
  right: 30px;
  top: 10px;
  display: inline;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  padding: 5px 32px;
  text-align: center;
}

.login-signup:hover {
  background-color: black;
  color: white;
}

.content {
  justify-content: center;
  background-color: #a1c6d9;
  border-radius: 10px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 1300px;
  height: 380px;
  text-align: center;
  overflow: scroll;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
  
h2 {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.textarea {
  width: 80%;
  height: 240px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-position: inside;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input, textarea {
  border: 1px solid lightgrey;
  background-color: lightgrey;
  margin: 4px;
  padding: 4px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 10px;
}

.trip-list-item {
  background-color: #f8f4eb;
  border-radius: 10px;
  height: 400px;
  width: 400px;
  margin-bottom: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: inline-block;
  position: relative; 
}

.trip-list-item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: default;
  text-decoration: none;
  margin: 0;
}

.trip-info {
  background-color: #f8f4eb;
  border-radius: 10px;
  height: 400px;
  width: 1000px;
  display: inline-block;
  position: relative; 
}

.menu {
  position: fixed;
  right: 60px;
  margin: 14px;
  display: inline;
  list-style: none;
  background-color: white;
  color: black;
}

h1 {
  position: absolute;
  left: 30px;
  margin: 10px;
  display: inline;
  list-style: none;
  background-color: white;
  color: black;
}

.menu .dropdown-button {
  border: none;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
}


.nav-item {
  list-style: none;
  width: 160px;
  text-align: center;
}

.dropdown-content a {
  display: block;
  padding: 10px;
}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
  cursor: default;
}

.menu:hover .dropdown-content {
  display: block;
}

.thumb {
  height: 300px;
  width: 300px;
}